@import 'swiper/css';

.swiper {
  position: static !important;
  overflow: visible !important;
}

.swiper-wrapper {
  overflow: visible !important;
}
.swiper-slide {
  overflow: visible !important;
  position: relative;
}
